#main-container{
    height: 120vh;
}
#second-container{
    height: 100%;
    background-image: url('../assets/images/CoverPhoto.png');
    background-size: cover;
}
.empty-container{
    /* background-color: red; */
    width: 80vw;
    height: 200px;
}
.empty-write-up{
    width: 80vw;
    height: 180px;
    /* background-color: green; */
}
.main-write-up{
    width: 80vw;
    height: 200px;
    /* background-color: white; */
    align-items: center;
    justify-content: center;
}
.main-write-up h2{
    width: 40%;
    height: 30%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: lighter;
    font-size: 70px;
    line-height: 77.34%;
    margin: 0 40rem;
    letter-spacing: 4px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.main-write-up h3{
    font-family: 'Dancing Script';
     width: 40%;
    height: 30%;
    font-style: normal;
    font-weight: lighter;
    font-size: 150px;
    line-height: 77.34%;
    margin: 0 13rem;
    letter-spacing: 12px;
    display: flex;
    align-items: center;
    padding: 2rem 0rem;
    text-align: center;
    text-size-adjust: 100px;

    color: #FFFFFF;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.icon{
    width: 60vw;
    height: 180px;
}