.landingPage-container {
  width: 100vw;
  height: 120vh;
  display: flex;
  flex-direction: column;
}
.landingPage-holding {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/CoverPhoto.png");
  background-size: cover;
}
.one {
  width: 100%;
  height: 40%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.two {
  width: 100%;
  height: 100px;
  margin-top: 2rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two h2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 77.34%;
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: blue; */
  letter-spacing: 10px;
  color: #ffffff;
  margin-left: -8rem;
  margin-bottom: 3rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.two p {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 77.34%;
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: blue; */
  letter-spacing: 15px;
  color: #ffffff;
  margin-left: -8rem;
  margin-top: 1rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.joseph-container {
  width: 100%;
  height: 10vh;
  margin-top: -3.6rem;
}
.joseph-support {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/VNC.png");
}
.joseph-pic {
  width: 100%;
  height: 300px;
  display: flex;
}
.image {
  width: 650px;
  height: 500px;
  margin-left: 2rem;
  margin-top: 3rem;
}
.image img {
  width: 100%;
  height: 100%;
  background-color: rgb(208, 195, 195);
  border-radius: 5px;
}
.about-vcn {
  width: 900px;
  height: 520px;
}
.about-vcn h2 {
  font-size: 50px;
  line-height: 120%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-shadow: none;
  color: #4a044f;
}
.about-vcn p {
  font-size: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  line-height: 39px;

  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: -0.04em;

  color: #000000;
}
.church-relevant {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relevance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.relevance h2 {
  margin-top: 3rem;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  text-shadow: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  background: linear-gradient(90deg, #c4437c 2.57%, #4a044f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: multiply;
}
.relevance p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.image1 {
  width: 335px;
  height: 100%;
}
.image2 {
  width: 718px;
  height: 100%;
}
.belief-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.belief-card1 {
  height: 416px;
  width: 400px;
  background-image: url("../assets/images/belief.png");
}
.belief-card2 {
  height: 416px;
  width: 400px;
  background-image: url("../assets/images/acceleration.png");
}
.belief-card3 {
  height: 416px;
  width: 400px;
  background-image: url("../assets/images/generosity.png");
}
.belief-card1 h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  margin-top: 10.5rem;
}
