.second-page-container{
    height: 120vh;
}
.second-page-details-container{
    height: 100%;
    background-image: url('./../assets/images/secondPage.png');
    background-size: cover;
}
.second-page-empty-div{
    height: 40%;
}
.second-page-write-up{
    height: 20%;
    display: flex;
}
.same-church{
    height: 20%;
    margin-bottom: 3rem;
}
.same-church h3{
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 99%;
    letter-spacing: 2px;
    /* or 59px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.same-church h3 span{
    align-items: center;
    justify-content: center;
    font-family: 'dancing script';
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 99%;
    letter-spacing: 2px;
    /* or 59px */

    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 1.3rem;
    color: #FFF212;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.different-location{
    height: 20%;
}
.different-location h3{
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 99%;
    letter-spacing: 2px;
    /* or 59px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.different-location h3 span{
    align-items: center;
    justify-content: center;
    font-family: 'dancing script';
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 99%;
    letter-spacing: 2px;
    /* or 59px */

    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 1.3rem;
    color: #FFF212;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.another-emoty-div-second{
    width: 30%;
}


