.box-container {
  width: 100%;
  height: 100%;
  background-image: url("./../assets/images/secondPage.png");
  background-size: cover;
}
h2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 99%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 0.5rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
h2 p {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 100px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff212;

  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.cards-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}
.card1 {
  background-color: red;
  height: 350px;
}
.card-content {
  display: flex;
}
.cards-img {
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.cards-img img {
  width: 136px;
  height: 177px;
}
.cards-button {
  width: 158px;
  height: 50px;
  background: #c4437c;
  backdrop-filter: blur(2px);
  border-radius: 12px;
  border: none;
  color: white;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.opu-image {
  margin-left: 0.5rem;
  margin-top: 0.7rem;
}
.upcoming-services {
  margin-top: 10rem;
}
.small-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards1 {
  width: 100%;
  height: 100%;
}
.typography {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.typo {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.list-typo {
  color: #161722;
}
.flyer-card {
  display: flex;
}
.flyer-card1 {
  width: 335px;
  height: 344px;
  background-image: url("../assets/images/victory1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.flyer-card2 {
  width: 750px;
  height: 344px;
  background-image: url("../assets/images/victory2.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flyer-card2 button {
  width: 278px;
  height: 67px;
  background: #c4437c;
  backdrop-filter: blur(2px);
  border: none;
  border-radius: 12px;
  color: white;
  font-family: "Quicksand";
  font-size: 16px;
  margin-top: 13rem;
  margin-left: 10.8rem;
  cursor: pointer;
}
.flyer2-card1 {
  box-sizing: border-box;
  width: 1151.45px;
  height: 370px;
  background: url("../assets/images/opulent.png");
  border: 2px solid #c4437c;
  border-radius: 10px;
}
.card1 {
  background-color: red;
  height: 450px;
}
