@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;500;700&family=Inter:wght@100;300;400;500;700&family=Quicksand:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  --color-black: black;
  --color-white: white;
  --color-button: #c4437c;
  --color-background: linear-gradient(90deg, #582b56 17.6%, #1d184e 61.22%);
}
section {
  width: 100vw;
  height: 100vh;
}
